.loginContainer {
  display: flex;
  justify-content: center;
  padding: 8px;
}

.form {
  display: flex;
  flex-direction: column;
}

.label {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}
.labelContainer {
  width: 100px;
}

.labelText {
  margin-right: 8px;
}

.seperatorText {
  margin: 24px 0px;
}

.loginCard {
  justify-content: center;
  width: 100%;
  max-width: 600px;
  min-width: 200px;
  padding: 16px;
}

.infoContainer {
  flex-grow: 1;
  max-width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 480px) {
  .infoContainer {
    max-width: 100%;
  }
}

.loginButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
}

.loginOrBack {
  width: 125px;
  margin: 8px;
}

.buttonContainer {
  justify-content: center;
  display: flex;
  margin-top: 24px;
}

.errorText {
  color: red;
  margin-top: 24px;
}
