.container {
  background-color: #fbeec1;
  text-align: center;
  margin: 0px;
  border-bottom: solid 1px hsla(0, 0%, 0%, 0.2);
}

.contentContainer {
  padding: 16px;
}

.title {
  margin: 0px;
  margin-top: 16px;
  color: #000000;
  font-size: 32px;
  line-height: 1.25;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 700;
}

.logo {
  width: 100px;
  margin-bottom: 0px;
}

.collapsedLogo {
  width: 50px;
  margin-bottom: 0px;
  margin-right: 16px;
}

.collapsedContainer {
  display: flex;
  padding: 8px 16px;
  align-items: center;
}

.collapsedTitle {
  margin: 0px;
  text-transform: none;
}

.centerTitle {
  margin-top: 32px;
  text-align: center;
}

.headerContainer {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
