.touchCanvas {
  display: flex;
  justify-content: center;
  align-items: center;

  width: calc(100vw - 12px);
  height: 500px;
  margin: 6px;

  background-color: #b5c352;
  opacity: 0.9;
  animation: pulse 2s infinite;
  box-shadow: 0 0 0 rgba(204, 169, 44, 0.4);
  animation: pulse 2s infinite;
  border-radius: 6px;
}

@keyframes pulse {
  0% {
    opacity: 0.9;
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0.4);
  }
  70% {
    opacity: 1;
    -moz-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }
  100% {
    opacity: 0.9;
    -moz-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}

.canvasIcon {
  width: 100px;
  height: 100px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin: 16px;
}

.startButton {
  display: flex;
  width: 200px;
  justify-content: center;
}

.innerIcon {
  display: flex;
  align-items: center;
}

.timer {
  text-align: center;
}

.homeIcon {
  cursor: pointer;
}
